@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100&family=Rubik:wght@400;500;700&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}